:root {
    --dark: #19283f;
    --green: #33d1cc;
    --red: #ff3150;
    --yellow: #ffc400;
    --section-color: #eff7fa;
}
body {
    font-family: 'Roboto', sans-serif;
}
.main-btn {
    background-color: var(--red);
    color: var(--yellow);
    padding: 0.5rem 1rem;
}
.main-btn:hover{
    color: var(--yellow);
    background-color: var(--red);
}
.main-title::after {
    content: "";
    position:absolute;
    width: 120px;
    height: 2px;
    background-color: var(--green);
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}
/* Start Navbar */
.navbar {
    background-color: var(--dark);
}
.navbar .navbar-nav .nav-link {
    color: wheat;
}
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover {
    color: var(--green);
}
.navbar .search {
    border-left: 1px solid var(--green);
}
.navbar .search svg {
    color: var(--green);
}
.navbar .navbar-toggler {
    color: white;
    border-color: white;
    font-size: 25px;
}
.navbar .navbar-toggler:focus {
    box-shadow: none;
}
.navbar .navbar-toggler[aria-expanded="true"] {
    border-color: var(--green);
}
/* End Navbar */
/* Start landin */
.landing {
    background-color: var(--dark);
    min-height: calc(100vh - 72px);
}
/* End landin */
/* Start Featchers */
.featchers .icon-holder {
    height: 200px;
}
.featchers .icon-holder svg {
    left: 50%;
    transform: translateX(-50%);
}
.featchers .icon-holder .number {
    font-size: 12rem;
    color: var(--section-color);
}
.featchers .icon-holder .icon {
    color: var(--green);
}
.featchers .feat h4 {
    color: var(--yellow);
}
/* End Featchers */
/* Start Our Work */
.our-work {
    background-color: var(--section-color);
}
.our-work ul .active {
    background-color: var(--red);
    color: var(--yellow);
}
.our-work ul li {
    padding: 0.5rem 1rem;
    cursor: pointer;
}
.our-work ul li:not(.active):hover {
    color: var(--red);
}
.our-work .box {
    padding: 5px;
    overflow: hidden;
    position: relative;
}
.our-work .box::before {
    content: attr(data-work);
    position: absolute;
    background-color: rgb(51 209 204 / 76%);
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
    transition: 0.3s;
    font-size: 1.5rem;
    transform: translateX(calc(-100% - 5px));
}
.our-work .box:hover::before {
    transform: translateX(0);
}
/* End Our Work */
/* Start Stuff */
.stuff .description {
    max-width: 500px;
}
/* End Stuff */
/* Start Team */
.team {
    background-color: var(--section-color);
}
.team h2 {
    color: var(--yellow);
}
.team .box h4 {
    background-color: var(--green);
}
/* End Team */
/* Start Project */
.project {
    background-color: var(--dark);
}
/* End Project */
/* Start Subscribe */
.subscribe {
    background-color: var(--yellow);
}
.subscribe .email {
    border: none;
    border-bottom: 1px solid white;
}
.subscribe .email:focus {
    outline: none;
}
.subscribe::placeholder {
    color: white;
}
.subscribe .submit {
    background-color: var(--dark);
    color: var(--yellow);
}
/* End Subscribe */
/* Start Footer */
.footer {
    background-color: var(--dark);
}
.footer .copyright > span {
    color: var(--green);
}
.footer .copyright div span {
    color: var(--yellow);
}
.footer .contact ul svg {
    width: 20px;
    height: 20px;
}
.footer .facebook {
    background-color: #1877f2;
}
.footer .twitter {
    background-color: #1da1f2;
}
.footer .linkedin {
    background-color: #0077b5;
}
.footer .youtube {
    background-color: #ff0000;
}
/* End Footer */